.listImage {
    max-width:40px;
    max-height:40px;
}

.listImageWide {
    max-width:50%;
}

.runningBuild {
    background-color: #dee;
    margin: 0 0 10px 0;
    overflow-x: hidden;
}

.runningBuildRow {
    background-color: #dee;
}

.runningBuild p {
    margin: 0 0 0 0;
}

.buildRow {
    width: 100%;
    display: block ;
    float:left ;
    margin: 0.1% 0 ;
    border-bottom: solid 1px #e4e4e4;
}

.buildRow:hover {
    background-color: #b7b7b7;
}

hr.buildRowSpace {
    margin: 5px 0;
}

.blCell {
    float: left ;
    display: inline-block ;
    text-align: center;
}

.cellRowIndex {
    width: 5% ;
}

.cellRowName{
    width: 20% ;
    text-align: left;
}

.cellRowName a {
    font-size: 125%;
}

.cellRowRun {
    width: 15% ;
}

.cellRowStatus {
    width: 5% ;
}

.cellRowSuccess {
    width: 20% ;
}

.cellRowFailure {
    width: 20% ;
}

.cellRowDuration {
    width: 15% ;
}