#show_menu_wrapper {
    display: none ;
    position: fixed;
    z-index: 10000;
}

@media (min-width: 1200px) {
    #wrapper.container {
        width: 90%;
    }
    #wrapper.container pre {
        font-size: 100%;
    }
}