.checkbox-float-left {
    float: left;
    display: block;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

.checkbox-wrap {
    float: left;
    width: 10% ;
    display: block;
}

.parameter_row:hover {
    background-color: #737373;
}